<header>
    <div class="header-cima">
        <div class="empresa">
            <div class="imagem-empresa">
                <img src="/styles/img/favicon.svg" alt="imagem logo" class="imagem-empresa">
            </div>
            <div class="nome-empresa">
                <h1>For Books<br>For More People</h1>
            </div>
        </div>

        <div class="pesquisa">
            <div class="pesquisar">
                <input type="text" class="input-pesquisa" placeholder="Pesquisar...">
                <button type="submit" class="btn-pesquisa">
                    <svg width="24" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.134 17 3 13.866 3 10C3 6.134 6.134 3 10 3C13.866 3 17 6.134 17 10Z"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="area-cadastro">
            <a href="/cadastro/login" class="btn-header">Entrar</a>
            
            <a href="/cadastro/novousuario" class="btn-cadastro">Cadastrar-se</a>
        </div>
    </div>

    <div class="header-baixo">
        <a href="/" class="item-menu">Home</a>
        <a href="/sobre" class="item-menu">Sobre</a>
        <a href="/livros" class="item-menu">Biblioteca</a>
    </div>
</header>